VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/your_contact_form_id
VITE_FORMSPREE_CONTACT_ENDPOINT=https://formspree.io/f/your_contact_form_id
VITE_FORMSPREE_PAYMENT_ENDPOINT=https://formspree.io/f/your_payment_form_id

VITE_KCP_SITE_CODE=your_kcp_site_code
VITE_KCP_JS_URL=https://spay.kcp.co.kr/plugin/kcp_spay_hub.js
